
/*
a {
    text-decoration: none !important
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem;
}

.card-header:not([class*=bg-]):not([class*=alpha-]) {
    background-color: transparent;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom-width: 0
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.header-elements-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
} */

/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    background-color: #eee
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif
} 

.centered {
    position: absolute;
    top: 40%;
} */
.box span {
	display: list-item;
	list-style:none;
}
.box {
    display: inline-block;
    padding: 10px 20px;
    border-right: 1px solid;
    border-left: 1px solid;
    background: linear-gradient(to right, #000 calc(50% - 5px), transparent calc(50% - 5px), transparent calc(50% + 5px), #000 calc(50% + 5px)), linear-gradient(to right, #000 calc(50% - 5px), transparent calc(50% - 5px), transparent calc(50% + 5px), #000 calc(50% + 5px));
    background-size: 150% 1px;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    transition: .8s all
}

.box:hover {
    background-position: top right, bottom left;
    cursor: pointer
}
.addrss span {
	display: block;
}
.card {
	width: 100%;
}

.carrd {
    border-radius: 10px;
    background-color: #E3F2FD;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 80px
}

.left-side {
    height: 100%
}

.btn-pink {
    background: #1b9ce3;
    font-size: 16px;
    color: #fff;
    width: 150px;
    height: 40px;
    border: 1px solid #1b9ce3;
    text-transform: uppercase;
	font-weight: 400;
}

.btn-pink:hover {
    background: #E3F2FD;
	color: #1b9ce3;
	font-weight: 400;
}

.shoe-img {
    height: 220px;
    width: 90%
}


.carrrd {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 50px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

.carrrd span {
	display: block;
}


.width-auto {
    width: auto;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #1b9ce3;
}