.nav-pills-custom .nav-link {
    color: #aaa;
    background: linear-gradient(to right, #1f1f1f , #515151 );
    position: relative;
	font-weight: bold;
	font-size: 20px;
}

.nav-pills-custom .nav-link.active {
    color: #fff;
    background: #8b8b8b;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #515151;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.badge {
	font-size: 16px;
}

#carouselExampleControls img {
    width: 215px;
	height: 115px;
	padding: 10px;
	margin: 5px;
	background-color: #fff;
	border: 2px solid #604df4;
}

.datas {
	background: linear-gradient(-25deg, #604df4 , #d4c2fd );
}
.datas h3{
	color: #fff ;
}
.datas p{
	color: #fff ;
	font-size: 17px;
} 
.datas a{
	color: #fff ;
	font-size: 17px;
	background: #a287f9;
	font-weight: bold;
} 
.datas a:hover{
	background-color: #bca4fc;
	color: #000;
}
.card {
	background: radial-gradient(ellipse, #846af7 , #d4c2fd );
}
.card h5 {
	color: #fff;
	font-weight: bold;
	font-size: 26px;
}
.card .fs-2 {
	font-size: 22px;
	color: #fff;
}

.card .addrss {
	color: #fff;
	font-weight: bold;
	font-size: 17px;	
}

.card .phone {
	color: #fff;
	font-weight: bold;	
}


